<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Professor</title>
</head>
<body>


                <% dados.forEach(function (professor){ %>
                    <form action="/edita-professor" method="get">
                        
                   <input type="hidden" name="_id" value="<%= professor._id %>"> <br>
                    Nome: <input type="text" name="nome" value="<%- professor.nome %>"> <br>
                    Email: <input type="text" name="email" value="<%- professor.email %>">  <br>
                    Departamento: 
                    <select name="departamento" id="">
                        <option <% if(professor.departamento == "Multimédia") { %> selected <% } else { %> <% } %>  value="Multimédia">Multimédia</option>
                        <option <% if(professor.departamento == "Design") { %> selected <% } else { %> <% } %> value="Design">Design</option>
                        <option <% if(professor.departamento == "Artes da Imagem") { %> selected <% } else { %> <% } %> value="Artes da Imagem">Artes da Imagem</option>
                        <option <% if(professor.departamento == "Informática") { %> selected <% } else { %> <% } %> value="Informática">Informática</option>
                    </select><br>
                    <input type="submit" value="ALTERAR">
                    </form>
               <% }) %>
    


</body>
</html>