<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


                <% dados.forEach(function (aluno){ %>
                    <form action="/edita-aluno" method="get">
                        
                   <input type="hidden" name="_id" value="<%= aluno._id %>"> <br>
                    Nome: <input type="text" name="nome" value="<%- aluno.nome %>"> <br>
                    Email: <input type="text" name="email" value="<%- aluno.email %>">  <br>
                    Idade: <input type="text" name="idade" value="<%- aluno.idade %>"> <br>
                    <input type="submit" value="ALTERAR">
                    </form>
               <% }) %>
    


</body>
</html>