<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NOVA ESCOLA</title>
</head>
<body>
<h1>NOVA ESCOLA</h1>
<ul>
    <li><a href="/lista-alunos">VER ALUNOS</a></li>
    <li><a href="/form-aluno">INSERIR ALUNOS</a></li>
    <li><a href="/lista-professores">VER PROFESSORES</a></li>
    <li><a href="/form-professor">INSERIR PROFESSORES</a></li>
</ul>
</body>
</html>