<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/inserir-professor" method="get">
    Nome: <input type="text" name="nome"> <br>
    Email: <input type="text" name="email">  <br>
    Departamento: 
    <select name="departamento" id="">
        <option value="Multimédia">Multimédia</option>
        <option value="Design">Design</option>
        <option value="Artes da Imagem">Artes da Imagem</option>
        <option value="Informática">Informática</option>
    </select><br>
    <input type="submit" value="INSERIR">
    </form>
</body>
</html>